<?xml version="1.0" encoding="UTF-8"?>
<reports>
  <!-- One <report> element per XML file. Each element should have:
  
      @id: the same value as in the @id attribute of the <report> root element of the doc
      @leg: the legislation.gov.uk ID URI for the document
      @year: the calendar year
      @regnal: the monarch, any statute/session identifiers, and the regnal year(s) (e.g. Cha2/16-17 or Cha2/30/st1)
      @title: the title as it appears in the Core Reference Dataset
      @titleSource:
        - self: short title is printed on Act
        - conferred: short title conferred by a Short Titles Act or other item of legislation
        - chron: we've derived a title from the Chron table description
      @titleComment: if short title was conferred, apply this comment as a C-note to the title
  
    -->
  <report id="47193" leg="http://www.legislation.gov.uk/id/aep/Cha1/3/1" year="1627" regnal="Cha1/3" chapter="1" title="The Petition of Right" titleSource="chron" />
</reports>